<div class="contents">

<p>どこかに旅行に行きたいけど、行き先を決められない。<br>そんな時は詳しい誰かに聞いてみよう。<br>
ドコ行く？は楽しい旅行の行き先を決めるためのアプリケーションです。</p>
<br>


<% if user_signed_in? %>
  <a href="/plans/new">ドコ行く？→旅行の条件入力フォームヘ。</a><br>
  <a href="/plans/search">ドコ行く？→過去の要望から行き先を絞り込んで探す</a><br>
  <a href="/reports/search">ドコ行く？→旅行記の旅行先を絞り込んで探す</a><br>
  <a href="/reports">ドコ行く？→旅行記の一覧から探す</a><br><br>
  <a href="/plans">ココ行く？→要望一覧画面へ。要望から旅程の提案をする </a>

<% else %>

  <a href="/users/sign_in">ドコ行く？→ユーザーログイン画面へ※ログインをすると投稿が可能になります</a><br>
  <a href="/plans">ココ行く？→要望一覧画面へ。※詳細を見るためにはログインが必要です </a>

<% end %>

</div>


