<div class="contents">

<p>どこかに旅行に行きたいけど、行き先を決められない。<br>そんな時は詳しい誰かに聞いてみよう。<br>
ドコ行く？は楽しい旅行の行き先を決めるためのアプリケーションです。</p>


<% if user_signed_in? %>
  <a href="/plans/new">ドコ行く？→旅行の条件入力フォームヘ。</a><br>
  <a href="/plans/search">ドコ行く？→過去の要望から探す</a><br>
  <a href="/plans">ココ行く？→入力されたプラン一覧画面へ。 </a>

<% else %>

  <a href="/users/sign_in">ドコ行く？→ユーザーログイン画面へ※ログインをすると投稿が可能になります</a><br>
  <a href="/plans">ココ行く？→入力されたプラン一覧画面へ。※詳細を見るためにはログインが必要です </a>

<% end %>

</div>


