<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>ドコ行く？</title>
  </head>
  <body>
<div class="contents">
  <h2>プラン提案を受けるための情報を入力</h2>

  <!-- form_forの記載方法が -->


</div>
  </body>
</html>