<!DOCTYPE html>
<html>
<head>
  <title>Dokoiku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <p>ドコ行く？</p>
  <p>ヘッダーには左上にロゴ、右側にログイン機能のボタン等を設置予定</p>
</header>

<%= yield %>

<footer>
  <p>
   フッター ドコ行く ALL RIGHTS RESERVED.
  </p>
</footer>

</body>
</html>
