<!DOCTYPE html>
<html>
<head>
  <title>Dokoiku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1><a href="/">ドコ行く？</h1></a>

</header>

<%= yield %>

<footer>
  <p>ドコ行く ALL RIGHTS RESERVED.</p>
</footer>

</body>
</html>
